.dancalc {
    margin: 10px auto;
    max-width: 800px;

    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 22px 22px 12px rgba(0, 0, 0, 0.5), -8px -8px 20px rgba(0, 0, 0, 0.3);

    background: url('rainbackdrop.jpg') no-repeat center center fixed;
    background-size: cover;
}
