footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 5px 20px;
    color: white;
    font-weight: bold;
}

.footer-left {
    font-size: smaller;
}

.footer-right {
    text-align: right;
}