.keyboard {
    margin: 40px;
    border: 1px solid gray;
    padding: 10px;
    display: grid;
    grid-template-areas:
        ".  ms mr mc mp mm"
        "ac n7 n8 n9 om od"
        " c n4 n5 n6 oa os"
        ".  n1 n2 n3 oa os"
        ".  d  n0 s   e  e";
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

#button-ms          {grid-area: ms;}
#button-mr          {grid-area: mr;}
#button-mc          {grid-area: mc;}
#button-m-plus      {grid-area: mp;}
#button-m-minus     {grid-area: mm;}
#button-ac          {grid-area: ac;}
#button-c           {grid-area: c;}
#button-zero        {grid-area: n0;}
#button-one         {grid-area: n1;}
#button-two         {grid-area: n2;}
#button-three       {grid-area: n3;}
#button-four        {grid-area: n4;}
#button-five        {grid-area: n5;}
#button-six         {grid-area: n6;}
#button-seven       {grid-area: n7;}
#button-eight       {grid-area: n8;}
#button-nine        {grid-area: n9;}
#button-decimal     {grid-area: d;}
#button-sign        {grid-area: s;}
#button-multiply    {grid-area: om;}
#button-divide      {grid-area: od;}
#button-add         {grid-area: oa;}
#button-subtract    {grid-area: os;}
#button-equal       {grid-area: e;}

.button {
    position: relative;
    transform: all 1s ease-in-out;
    left: -3px;
    top: -3px;    
    border: 2px solid #444;
    border-radius: 4px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    background-color: #888;
    padding: 20px;
    font-size: 2.4em;
    text-align: center;
    color: white;
}

.button.pressed {
    left: 0px;
    top: 0;
    border: 5px solid #444;
    border-right-width: 2px;
    border-bottom-width: 2px;
    background-color: #444;
    color: black;
}

.type-memory {
    background-color: #d3d300;
}

.type-memory.pressed {
    background-color: #7e7e00;
}

.type-clear {
    background-color: #ff4242;
}

.type-clear.pressed {
    background-color: #b82828;
}

.type-operator {
    background-color: #ff9900;
}

.type-operator.pressed {
    background-color: #b36b00;
}

.type-enter {
    background-color: #0f0ff0;
}

.type-enter.pressed {
    background-color: #080896;
}